<template>
  <div class="profile-page">

    <BaseNavBarMenu/>
    <div class="content">
      <p class="social-media-title">Here are the best books to read for you!</p>
      <div class="search-engine">
        <input type="text" class="search-box" v-model="searchText" placeholder="Search a book... Or two..." />
        <button class="search-button"  v-on:click="searchBooks"/>
      </div>
      <div class="book-list">
        <BookCard v-for="(book, index) in book.books" :key="book.id" :bookData="book" :index="index"/> 

      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import BookCard from '@/components/BookCard.vue'
import BaseNavBarMenu from '@/components/BaseNavBarMenu.vue'
export default {
  name: 'BookList',
  props: ['username'],
  data() {
    return {
      searchText: ''
    }
  },
    components: {
    BookCard
  },
  computed: {
    ...mapState(['user', 'book'])
  },
  mounted() {
    console.log(this.user)
  },
  methods: {
    searchBooks() {
      console.log(this.searchText)
      this.$store.dispatch('book/fetchBooks', this.searchText)
    }
  }
}
</script>

<style scoped>

.search-engine {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.search-button {
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\search.png')
    center;
  background-size: cover;
  width: 50px;
  height: 53px;
  border-radius: 10px;
  padding: 0;
}
.search-button:focus {
  outline: none;
}
.search-button:hover {
  cursor: pointer;
}
.search-box {
  display: block;
  margin-left: 20vw;
  border-radius: 10px;
  width: 400px;
}
.search-box:focus {
  outline: none;
}

.social-media-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 50px;
  color: rgb(47, 47, 47);
  padding-top: 4vh;
  margin: 0;
  margin-bottom: 20px;
}
.content {
  margin-left: 15vw;
}
.profile-page {
  height: 100vh;
  margin: 0;
  padding: 0;
}

</style>