<template>
  <div class="body" img :src="image">
  <div>
    <br>
    <h3>Name</h3>
    <form @submit.prevent="createRestaurant">
      <label>Name of the restaurant.</label>
      <input v-model="restaurant.name" type="text" placeholder="Add a name"/>
      <h3>Address</h3>
      <label>The exact address of the restaurant.</label>
      <div class="field">
        <input v-model="restaurant.address" type="text" placeholder="Add the address"/>
      </div>

      <h3>Contact</h3>
      <div class="field">
        <label>Contact number.</label>
        <input v-model="restaurant.contactNr" type="text" placeholder="Add a contact number"/>
      </div>

      <h3>Number of seats</h3>
      <div class="field">
        <label>The total number of seats.</label>
        <input v-model="restaurant.noOfSeats" type="text" placeholder="Add the number of seats"/>
      </div>
      <button class="button"><span>Submit </span></button>
    </form>
  </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      image: './assets/ya2.jpg',
      restaurant: this.createFreshRestaurantObject()
    }
  },
  methods: {
    createRestaurant() {
      this.$store
        .dispatch('restaurant/createRestaurant', this.restaurant)
        .then(() => {
          this.$router.push({
            name: 'restaurant-list'
           // params: { id: this.restaurant.id }
          })
          this.restaurant = this.createFreshRestaurantObject()
        })
        .catch(() => {})
    },
    createFreshRestaurantObject() {
      return {
        name: '',
        address: '',
        contactNr: '',
        noOfSeats: ''
      }
    }
  }
}
</script>

<style scoped>
 .body {
    width: 400px;
    height: 700px;
    background: rgba(0,0,0,0.4);
    color: #ffebcd;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:40px 30px;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.field {
  margin-bottom: 24px;
}
</style>
