<template>
    <div class="restaurant-header">
      <div class="box">
      <br>
      <h2><span> {{ restaurant.name }}</span></h2>
      <h1><span>Address: {{ restaurant.address }}</span></h1>
      <h1>Contact: {{ restaurant.contactNr }}</h1>
      <h1>Number of seats: {{ restaurant.noOfSeats }}</h1>
      <h1>Number of seats left: {{ restaurant.noOfEmptySeats }}</h1>
    </div>
    </div>

</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  props: ['id'],
  created() {
    this.fetchRestaurant(this.id)
  },
  computed: mapState({
    restaurant: state => state.restaurant.restaurant
  }),
  methods: mapActions('restaurant', ['fetchRestaurant'])
}
</script>
<style scoped>
  .box{
    width: 400px;
    height: 450px;
    background: rgba(0,0,0,0.4);
    color: #ffebcd;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:40px 30px;
}
.location {
  margin-bottom: 0;
}
.location > .icon {
  margin-left: 10px;
}
.restaurant-header > .title {
  margin: 0;
}
.list-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-group > .list-item {
  padding: 1em 0;
  border-bottom: solid 1px #e5e5e5;
}
</style>
