<template>
  <div>
    <br>
    <!-- <RestaurantCard v-for="restaurant in restaurant.restaurants" :key="restaurant.id" :restaurant="restaurant"/> -->
  </div>
</template>

<script>
// import RestaurantCard from '@/components/RestaurantCard.vue'
import { mapState } from 'vuex'

export default {
  // components: {
  //   RestaurantCard
  // },
  created() {
    this.$store.dispatch('restaurant/fetchRestaurants')
  },
  computed: {
    ...mapState(['restaurant', 'user'])
  }
}
</script>
