<template>
  <div id="main">
    <link
      href="http://fonts.googleapis.com/css?family=Berkshire+Swash"
      rel="stylesheet"
      type="text/css"
    />
    <div id="logo"></div>
    <div id="menu">
      <ul>
        <li>
          <a href="/home" class="left">HOME</a>
        </li>

        <li>
          <a href="www.google.com" class="left">PROFILE</a>
        </li>

        <li>
          <a href="www.google.com" class="left">SORT</a>
        </li>
        <a href="www.google.com">
          <li id="date-a-book">DATE A BOOK</li>
        </a>
      </ul>
    </div>
    <div id="login-form">
      <div id="sign-up-footer">
        <div id="footer-div">
          <img src="../images/login-picture.png" class="footer-image" />
        </div>
        <div class="footer-div">
          <div id="sign-up-manually-form">
            <p id="social-media-title">Sign up now!</p>
            <div id="sign-for-more-div">
              <form @submit.prevent="signup">
                <input
                  type="text"
                  placeholder="First name"
                  v-model="name"
                  name="user"
                  isRequired="true"
                  id="firstName"
                />
                <br />
                <input
                  type="text"
                  placeholder="Last name"
                  v-model="surname"
                  name="user"
                  isRequired="true"
                  id="lastName"
                />
                <br />
                <input
                  type="text"
                  placeholder="Enter Username"
                  v-model="username"
                  name="user"
                  isRequired="true"
                  id="username"
                />
                <br />
                <input
                  type="password"
                  placeholder="Enter password"
                  v-model="password"
                  name="pass"
                  isRequired="true"
                  id="pass"
                />
                <br />
                <input
                  type="password"
                  placeholder="Confirm password"
                  v-model="confirmPassword"
                  name="confirmPass"
                  isRequired="true"
                  id="confirmPass"
                />
                <br />
                <input
                  type="text"
                  placeholder="Enter email"
                  v-model="email"
                  name="email"
                  id="email"
                />
                <br />
                <span id="log-alternatives">
                  <a href="recover-acc" class="log-alternative">Forgot password?</a>
                  <a href="login" class="log-alternative">Already have an account?</a>
                </span>
                <button type="submit" class="sign-for-more">SIGN UP</button>
                 </form>
                <p id="social-media-title">Connect with Social Media</p>
                <facebook-login
                  class="button"
                  appId="420905468863679"
                  @login="onLogin"
                  @logout="onLogout"
                  @get-initial-status="getUserData"
                  @sdk-loaded="sdkLoaded"
                ></facebook-login>
                <button v-google-signin-button="clientId" class="google-signin-button">
                  <img src="../images/google-logo.jpg" class="google-logo" />Continue with Google
                </button>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import facebookLogin from 'facebook-login-vuejs'
import { required } from 'vuelidate/lib/validators'
export default {
  data() {
    return {
      role: 'USER',
      name: '',
      surname: '',
      username: '',
      password: '',
      confirmPassword: '',
      isConnected: false,
      name: '',
      email: '',
      personalID: '',
      picture: '',
      FB: undefined,
      params: {
        client_id: 'xxxxxx'
      },
      // only needed if you want to render the button with the google ui
      renderParams: {
        width: 250,
        height: 50,
        longtitle: true
      }
    }
  },
  components: {
    facebookLogin
  },
  validations: {
    surname: { required },
    name: { required },
    cnp: { required },
    email: { required },
    phone: { required },
    password: { required },
    confirmPassword: { required }
  },
  methods: {
    signup() {
        if (this.password == this.confirmPassword) {
          this.$store
            .dispatch('user/registerUser', {
              role: this.role,
              surname: this.surname,
              name: this.name,
              email: this.email,
              password: this.password
            })
            .then(() => {
              this.$router.push({ name: 'login' })
            })
        } else {
          this.$notify({
            group: 'auth',
            text: "Passwords don't match. Please try again."
          })
        
      }
    },
    onSignInSuccess(googleUser) {
      // `googleUser` is the GoogleUser object that represents the just-signed-in user.
      // See https://developers.google.com/identity/sign-in/web/reference#users
      const profile = googleUser.getBasicProfile() // etc etc
    },
    onSignInError(error) {
      // `error` contains any error occurred.
      console.log('OH NOES', error)
    },
    getUserData() {
      // this.FB.api('/me', 'GET', { fields: 'id,name,email,picture' }, user => {
      //   this.personalID = user.id
      //   this.email = user.email
      //   this.name = user.name
      //   this.picture = user.picture.data.url
      // })
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected
      this.FB = payload.FB
      if (this.isConnected) this.getUserData()
    },
    onLogin() {
      this.isConnected = true
      this.getUserData()
    },
    onLogout() {
      this.isConnected = false
    },
    OnGoogleAuthSuccess(idToken) {
      console.log(idToken)
      // Receive the idToken and make your magic with the backend
    },
    OnGoogleAuthFail(error) {
      console.log(error)
    }
  }
}
</script>

<style scoped>
.log-alternative {
  color: gray;
  text-decoration: underline;
  margin-right: 5vw;
  margin-bottom: 5vh;
}
input {
  border-radius: 20px;
  border: 2px solid gainsboro;
  margin-bottom: 3vh;
  width: 40vw;
}
input:focus {
  outline: none;
}
#login-form {
  margin-top: 5vh;
}
#main {
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\header.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 15vh;
}
#home {
  overflow: hidden;
}
#footer-shape {
  width: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.google-signin-button {
  color: white;
  background-color: rgb(66, 133, 244);
  font-size: 16px;
  text-align: center;
  width: 225px;
  padding: 0;
  margin-top: 3vh;
  border: none;
}

.point:hover {
  cursor: pointer;
}

.google-signin-button:hover {
  cursor: pointer;
}
.google-logo {
  width: 40px;
  height: 30px;
}

#sign-up-manually-form {
  margin-top: 5vh;
}
#header {
  width: 100vw;
  height: 65vh;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\header_content.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}
#alternative-logins {
  padding-top: 10vh;
}
#social-media-title {
  font-weight: bold;
  font: 200 50px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 0;
}
#footer-div {
  display: flex;
  flex-direction: column;
}

#sign-up-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-image {
  padding-top: 5vh;
  width: 40vw;
  height: 60vh;
}
#suggestions-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 48px;
  color: rgb(42, 42, 42);
}

.suggestion-img {
  width: 15vw;
  height: 45vh;
}

.sign-for-more {
  margin-left: 0;
  margin-top: 3vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  color: rgb(58, 12, 174);
  border: 2px solid rgb(58, 12, 174);
  display: block;
  background: white;
}

.sign-for-more:hover {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  cursor: pointer;
  background: rgb(58, 12, 174);
  color: white;
  margin-top: 3vh;
  transition: 0.2s;
  display: block;
}
.sign-for-more:focus {
  outline: none;
}

#sign-for-more-div {
  margin-bottom: 4.5vh;
  margin-top: 3vh;
}
.top-one {
  color: rgb(156, 16, 15);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.top-one-genre {
  color: rgb(58, 12, 174);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 23px;
}

#suggestion {
  width: 15vw;
  display: inline-block;
  padding-right: 12vw;
}
#suggestion-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin: 0;
  text-align: center;
  color: rgb(156, 16, 15);
}
#suggestion-list {
  padding-left: 15vw;
}
#suggestion-subtitle {
  font-family: 'Kreon';
  font-size: 17px;
  margin: 0;
  padding-bottom: 1vh;
  text-align: center;
  color: rgb(58, 12, 174);
}

#menu {
  padding-top: 1.5vh;
  padding-right: 20vw;
  height: 2vh;
  float: right;
}
#authenticate {
  padding-top: 1.5vh;
  padding-left: 15vw;
  height: 2vh;
}
#login-button {
  border: none;
  margin-left: 55px;
}
#login-button:hover {
  border: none;
}
li {
  display: inline;
  padding-right: 55px;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#date-a-book {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
}
#sign-up {
  display: inline;
  padding: 11px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#sign-up:hover {
  border-radius: 10px;
  border: 2px solid rgb(118, 6, 0);
  cursor: pointer;
  background: rgb(118, 6, 0);
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}
#a-sign-up {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
#hero-copy {
  padding-top: 6vh;
}
#date-a-book:hover {
  border-radius: 10px;
  padding: 10px;
  color: rgb(156, 16, 15);
  border: 2px solid white;
  cursor: pointer;
  background: white;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#title {
  font-family: 'Kreon';
  font-weight: bold;
  color: white;
  font-size: 3vw;
  margin: 0;
  padding-left: 15vw;
}

#subtitle {
  font-family: 'Kreon';
  font-weight: bold;
  color: white;
  font-size: 2vw;
  padding-bottom: 1vh;
  margin: 0;
  padding-left: 15vw;
}
#text {
  font-family: 'Kreon';
  color: white;
  font-size: 1vw;
  width: 30vw;
  margin: 0;
  padding-left: 15vw;
}
a.left {
  position: relative;
}

a.left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}
#logo {
  padding-left: 15vw;
  padding-right: 0;
  padding-top: 0.5vh;
  width: 3vw;
  height: 9vh;
  margin: 0;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\logo.png');
  background-size: 3vw 9vh;
  background-origin: content-box;
  background-repeat: no-repeat;
  display: inline-block;
}
</style>