<template>
  <div>
    <BaseNavBarMenu />
    <div class="account">
      <p class="setttings-title">Account details</p>
      <div class="page-content">
        <div class="statistics-content">
          <p class="update-title">Welcome back, {{username}}</p>
          <div class="statistics">
            <div class="statistic">
              <p class="statistic-key">Books read so far</p>
              <p class="statistic-value-done">{{user.totalRead}}</p>
            </div>
            <div class="statistic">
              <p class="statistic-key">Books you have reviewed</p>
              <p class="statistic-value-reviewed">{{user.totalReviewed}}</p>
            </div>
            <div class="statistic">
              <p class="statistic-key">Books on your wishlist</p>
              <p class="statistic-value-wishlist">{{user.totalWishlist}}</p>
            </div>
          </div>
        </div>
        <div class="account-update">
          <p class="update-title">Change account details</p>
          <form>
            <input type="text" name placeholder="Enter Username" /><br>
            <input type="password" name placeholder="Enter Password" /><br>
            <input type="password" name placeholder="Confirm Password" /><br>
            <button class="sign-for-more">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BaseNavBarMenu from '@/components/BaseNavBarMenu.vue'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'UserProfile',
  props: ['username'],
  created() {
    var userDat = JSON.parse(localStorage.getItem('user'))
    console.log(JSON.parse(localStorage.getItem('user')))
    this.$store.dispatch('user/fetchUserStatistics')
  },
  computed: {
    ...mapState(['user'])
  },
  mounted() {
    console.log(this.user)
  }
}
</script>
<style scoped>
.page-content {
  display: flex;
}
.setttings-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 50px;
  color: rgb(47, 47, 47);
  padding-top: 4vh;
  margin: 0;
  margin-bottom: 20px;
}
.statistics-content {
  width: 30vw;
  height: 30vh;
  margin-left: 20vw;
  padding: 0;
  position: relative;
}
.statistics {
  border: 1px solid lightgrey;
}
.statistic {
  border-bottom: 1px solid lightgrey;
  width: 30vw;
  height: 10vh;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.statistic-value-done {
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 15px;
  color: rgb(20, 118, 29);
}

.statistic-value-reviewed {
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 15px;
  color: rgb(231, 121, 23);
}

.statistic-value-wishlist {
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 15px;
  color: rgb(156, 18, 17);
}

.statistic-key {
  position: absolute;
  margin-top: 0;
  margin-left: 10px;
  left: 0;
}
.account-update {
  margin-left: 5vw;
  display: block;
}
.update-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 30px;
  color: rgb(47, 47, 47);
  padding-top: 4vh;
  margin: 0;
  margin-bottom: 20px;
}

input {
  border-radius: 20px;
  border: 2px solid gainsboro;
  margin-bottom: 3vh;
  width: 20vw;
}
input:focus {
  outline: none;
}
#login-form {
  margin-top: 5vh;
}
#main {
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\header.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 15vh;
}
#home {
  overflow: hidden;
}
#footer-shape {
  width: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.google-signin-button {
  color: white;
  background-color: rgb(66, 133, 244);
  font-size: 16px;
  text-align: center;
  width: 225px;
  padding: 0;
  margin-top: 3vh;
  border: none;
}

.point:hover {
  cursor: pointer;
}

.google-signin-button:hover {
  cursor: pointer;
}
.google-logo {
  width: 40px;
  height: 30px;
}

#sign-up-manually-form {
  margin-top: 5vh;
}
#header {
  width: 100vw;
  height: 65vh;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\header_content.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}
#alternative-logins {
  padding-top: 10vh;
}
#social-media-title {
  font-weight: bold;
  font: 200 50px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 0;
}
#footer-div {
  display: flex;
  flex-direction: column;
}

#sign-up-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-image {
  padding-top: 5vh;
  width: 40vw;
  height: 60vh;
}
#suggestions-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 48px;
  color: rgb(42, 42, 42);
}

.suggestion-img {
  width: 15vw;
  height: 45vh;
}

.sign-for-more {
  margin-left: 0;
  margin-top: 3vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  color: rgb(58, 12, 174);
  border: 2px solid rgb(58, 12, 174);
  display: block;
  background: white;
}

.sign-for-more:hover {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  cursor: pointer;
  background: rgb(58, 12, 174);
  color: white;
  margin-top: 3vh;
  transition: 0.2s;
  display: block;
}
.sign-for-more:focus {
  outline: none;
}

#sign-for-more-div {
  margin-bottom: 4.5vh;
  margin-top: 3vh;
}
.top-one {
  color: rgb(156, 16, 15);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.top-one-genre {
  color: rgb(58, 12, 174);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 23px;
}

#suggestion {
  width: 15vw;
  display: inline-block;
  padding-right: 12vw;
}
#suggestion-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin: 0;
  text-align: center;
  color: rgb(156, 16, 15);
}
#suggestion-list {
  padding-left: 15vw;
}
#suggestion-subtitle {
  font-family: 'Kreon';
  font-size: 17px;
  margin: 0;
  padding-bottom: 1vh;
  text-align: center;
  color: rgb(58, 12, 174);
}

#menu {
  padding-top: 1.5vh;
  padding-right: 20vw;
  height: 2vh;
  float: right;
}
#authenticate {
  padding-top: 1.5vh;
  padding-left: 15vw;
  height: 2vh;
}
#login-button {
  border: none;
  margin-left: 55px;
}
#login-button:hover {
  border: none;
}
li {
  display: inline;
  padding-right: 55px;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#date-a-book {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
}
#sign-up {
  display: inline;
  padding: 11px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#sign-up:hover {
  border-radius: 10px;
  border: 2px solid rgb(118, 6, 0);
  cursor: pointer;
  background: rgb(118, 6, 0);
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}
#a-sign-up {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
#hero-copy {
  padding-top: 6vh;
}
#date-a-book:hover {
  border-radius: 10px;
  padding: 10px;
  color: rgb(156, 16, 15);
  border: 2px solid white;
  cursor: pointer;
  background: white;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
}

#title {
  font-family: 'Kreon';
  font-weight: bold;
  color: white;
  font-size: 3vw;
  margin: 0;
  padding-left: 15vw;
}

#subtitle {
  font-family: 'Kreon';
  font-weight: bold;
  color: white;
  font-size: 2vw;
  padding-bottom: 1vh;
  margin: 0;
  padding-left: 15vw;
}
#text {
  font-family: 'Kreon';
  color: white;
  font-size: 1vw;
  width: 30vw;
  margin: 0;
  padding-left: 15vw;
}
a.left {
  position: relative;
}

a.left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}
#logo {
  padding-left: 15vw;
  padding-right: 0;
  padding-top: 0.5vh;
  width: 3vw;
  height: 9vh;
  margin: 0;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\logo.png');
  background-size: 3vw 9vh;
  background-origin: content-box;
  background-repeat: no-repeat;
  display: inline-block;
}

.sign-for-more {
  margin-left: 0;
  margin-top: 3vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  color: rgb(58, 12, 174);
  border: 2px solid rgb(58, 12, 174);
  display: block;
  background: white;
}

.sign-for-more:hover {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 13px;
  cursor: pointer;
  background: rgb(58, 12, 174);
  color: white;
  margin-top: 3vh;
  transition: 0.2s;
  display: block;
}
.sign-for-more:focus {
  outline: none;
}
</style>