<template>
  <div class="profile-page">
    <BaseNavBarMenu />
    <div class="content">
      <p class="social-media-title">Your library</p>
      <ul class="buttons-options">
        <li>
          <button
            class="button-option"
            :style="getReadBooksClass"
            v-on:click="getReadBooks"
          >Read books</button>
        </li>
        <li>
          <button
            class="button-option"
            :style="getWishListedBooksClass"
            v-on:click="getWishListBooks"
          >WishList</button>
        </li>
          <!-- <li>
          <button
            class="button-option"
            :style="getWishListedBooksClass"
            v-on:click="getReadingBooksClass"
          >Reading</button>
        </li> -->
      </ul>
      <div v-if="readIsActive" class="book-list">
        <BookCard
          v-for="(book, index) in book.readBooks"
          :key="book.id"
          :bookData="book"
          :index="index"
        />
      </div>
      <div v-if="wishListIsActive" class="book-list">
        <BookCard
          v-for="(book, index) in book.wishListedBooks"
          :key="book.id"
          :bookData="book"
          :index="index"
        />
      </div>
      <!-- <div v-if="readingIsActive" class="book-list">
        <BookCard
          v-for="(book, index) in book.readingBooks"
          :key="book.id"
          :bookData="book"
          :index="index"
        />
      </div> -->
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import BookCard from '@/components/BookCard.vue'
import BaseNavBarMenu from '@/components/BaseNavBarMenu.vue'
export default {
  name: 'UserLibrary',
  props: ['username'],
  data() {
    return {
      readIsActive: true,
      wishListIsActive: false,
      readingIsActive: false
    }
  },
  components: {
    BookCard
  },
  created() {
    this.$store.dispatch('book/fetchReadBooks')
  },
  computed: {
    getReadBooksClass() {
      if (this.readIsActive == true) {
        return {
          '--bg-color': 'rgb(156, 16, 15)',
          '--border-color': 'rgb(156, 16, 15)',
          '--text-color': 'white'
        }
      } else {
        return {
          '--bg-color': 'white',
          '--border-color': 'rgb(156, 16, 15)',
          '--text-color': 'black'
        }
      }
    },
    getWishListedBooksClass() {
      if (this.wishListIsActive == true) {
        return {
          '--bg-color': 'rgb(156, 16, 15)',
          '--border-color': 'rgb(156, 16, 15)',
          '--text-color': 'white'
        }
      } else {
        return {
          '--bg-color': 'white',
          '--border-color': 'rgb(156, 16, 15)',
          '--text-color': 'black'
        }
      }
    },
    // getReadingBooksClass() {
    //   if (this.readingIsActive == true) {
    //     return {
    //       '--bg-color': 'rgb(156, 16, 15)',
    //       '--border-color': 'rgb(156, 16, 15)',
    //       '--text-color': 'white'
    //     }
    //   } else {
    //     return {
    //       '--bg-color': 'white',
    //       '--border-color': 'rgb(156, 16, 15)',
    //       '--text-color': 'black'
    //     }
    //   }
    // },
    ...mapState(['user', 'book'])
  },
  mounted() {
    console.log(this.user)
  },
  methods: {
    getWishListBooks() {
      this.wishListIsActive = true
      this.readIsActive = false
      this.readingIsActive = false
      this.$store.dispatch('book/fetchWishListedBooks')
    },
    getReadBooks() {
      this.wishListIsActive = false
      this.readIsActive = true
      this.readingIsActive = false
      this.$store.dispatch('book/fetchReadBooks')
    },
    // getReadingBooks() {
    //   this.wishListIsActive = false
    //   this.readIsActive = false
    //   this.readingIsActive = true
    //   this.$store.dispatch('book/fetchReadingBooks')
    // },
    readIsActive() {
      return this.readIsActive == true
    },
    wishListIsActive() {
      return this.wishListIsActive == true
    },
    readingIsActive() {
      return this.readingIsActive == true
    }
  }
}
</script>

<style scoped>
.button-option {
  background: var(--bg-color);
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid var(--border-color);
  outline: none;
  color: var(--text-color);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.button-option:hover {
  cursor: pointer;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}
.button-option:active {
  background: rgb(156, 16, 15);
  border-radius: 10px;
  border: 2px solid rgb(156, 16, 15);
  color: white;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}
li {
  display: inline;
  margin-right: 10px;
}
.buttons-options {
  text-align: center;
}
.search-engine {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.search-button {
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\search.png')
    center;
  background-size: cover;
  width: 50px;
  height: 53px;
  border-radius: 10px;
  padding: 0;
}
.search-button:focus {
  outline: none;
}
.search-button:hover {
  cursor: pointer;
}
.search-box {
  display: block;
  margin-left: 20vw;
  border-radius: 10px;
  width: 400px;
}
.search-box:focus {
  outline: none;
}

.social-media-title {
  font-weight: bold;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  font-size: 50px;
  color: rgb(47, 47, 47);
  padding-top: 4vh;
  margin: 0;
  margin-bottom: 20px;
}
.content {
  margin-left: 15vw;
}
.profile-page {
  height: 100vh;
  margin: 0;
  padding: 0;
}
</style>