<template>
    <div class="icon-wrapper">
      <div class="image" img :src="image">
      <svg class='icon' :width="width" :height="height">
        <use v-bind="{'xlink:href':'/feather-sprite.svg#' + name}"/>
      </svg>
      <slot></slot>
    </div>
    </div>
</template>
    
<script>
export default {
  data() {
    return {
       image: url('src/assets/ya2.jpg')
    }
  },
  name: 'Icon',
  props: {
    name: String,
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    }
  }
}
</script>
    
<style scoped>
.icon-wrapper {
  display: inline-flex;
  align-items: right;
  color: rgba(20, 19, 19, 0.658);
  font-size: 1rem;
  font-weight: 700;
  background-image: url("/assets/ya2.jpg");
}
.icon {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-left: 6px;
  margin-right: 6px;
  text-align: right;
  background-image: url("/assets/ya2.jpg");
}
</style>
