<template>
  <div class="navbar-menu">
    <ul>
      <li>
        <img class="logo-img" src="../images/logo.png" />
        <p class="logo-title">BOOKAHOLICS</p>
      </li>
      <li>
        <router-link :to="{name: 'home-page', params: {id : ''}}" class="left">HOME</router-link>
      </li>

      <li>
        <router-link :to="{name: 'user-profile', params: {id : ''}}" class="left">PROFILE</router-link>
      </li>

      <li>
        <router-link :to="{name: 'user-library', params: {id : ''}}" class="left">MY LIBRARY</router-link>
      </li>

      <li>
        <router-link :to="{name: 'user-profile', params: {id : ''}}" class="left">DATE A BOOK</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'BaseNavBarMenu'
}
</script>

<style>
.logo-img {
  margin-top: 0;
  padding-top: 0;
  padding-left: 30px;
  width: 40px;
  height: 60px;
}
.logo-title {
  margin-top: 0;
  color: white;
  font-weight: bolder;
}
.navbar-menu {
  background: rgb(156, 16, 15);
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
}

.left {
  text-decoration: none;
  color: white;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.left:hover:before {
  visibility: visible;
  width: 100%;
}
li {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
ul {
  list-style-type: none;
}
</style>
