<template>
<div id="loginbox" class="loginbox">
        <router-link to="/login" class="login">Log-in
        </router-link>
        <loginbox>
        <h1>Log-in </h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
             <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <router-link :to="{ name: 'restaurant-list' }">|
            <input type="submit" name="" value="Login">
        </router-link>
            <a href="#">Lost your password?</a>
            <a href="#">Don't have an account?</a>
         </form>
        </loginbox>
    </div>
</template>
<script>
     export default {}
</script>
<style>
.loginbox{
    width: 400px;
    height: 500px;
    background: rgba(0,0,0,0.4);
    color: #ffebcd;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:40px 30px;
}

.avatar1{
    width:100px;
    height:100px;
    border-radius:50%;
    position: absolute;
    top:-0px;
    left: 5;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin:0;
    padding:0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#c591a9;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ffdab9;
    color: #c25733;
    font-size: 25px;
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.loginbox input[type="submit"]:hover{
    cursor: point;
    background: #da470d;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 16px;
    color:rgb(231, 203, 193);
    line-height: 1.7;
}

.loginbox a hover
{
    color: #ffc107;
}
</style>     