<template>
  <div>
    <div id="logo"></div>
    <div id="menu">
      <ul>
        <li>
          <a href="www.google.com" class="left">HOME</a>
        </li>

        <li>
          <a href="www.google.com" class="left">PROFILE</a>
        </li>

        <li>
          <a href="www.google.com" class="left">SORT</a>
        </li>
        <a href="www.google.com">
          <li id="date-a-book">DATE A BOOK</li>
        </a>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
#header {
  width: 100vw;
  height: 65vh;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\header_content.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
#logo {
  padding-left: 15vw;
  padding-right: 0;
  padding-top: 0.5vh;
  width: 3vw;
  height: 9vh;
  margin: 0;
  background: url('C:\\Users\\celin\\Desktop\\Desktop\\proiect colectiv\\real-world-vue-progress-bar-start\\src\\images\\logo.png');
  background-size: 3vw 9vh;
  background-origin: content-box;
  background-repeat: no-repeat;
  display: inline-block;
}
#menu {
  padding-top: 1.5vh;
  padding-right: 20vw;
  height: 2vh;
  float: right;
}
a.left {
  position: relative;
}

a.left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}
</style>
