<template>
<router-link :to="{name: 'book-page', params: { id: bookData.id } }">
    <div class="recommendation">
       <img :src="bookData.volumeInfo.imageLinks.thumbnail" class="suggestion-img">
        <p class="recommendation-title">{{bookData.volumeInfo.title}}</p>
        <p class="recommendation-author">by {{bookData.volumeInfo.authors[0].name}}</p>
    </div>
</router-link>
</template>
<script>
export default {
    props: {
        bookData: Object
    }
}
</script>
<style scoped>
.recommendation-title {
    width:10vw;
    color: rgb(156, 16, 15);
    font-weight: bold;
    text-align: center;
}
.recommendation-author {
    width:10vw;
    color: rgb(58, 12, 174);
    font-weight: bold;
    text-align: center;
}
.recommendation {
    display: inline-block;
    margin-right: 10vh;
      font-size: 15px;
}
.suggestion-img {
  width: 10vw;
  height: 30vh;
}
.recommendation:hover {
    box-shadow: 2px 3px 5px #888888;
}
</style>