<template>
<div>
  <div class="review">
    <div class="review-contact">
      <p class="review-content">{{review.username}}</p>
      <p class="review-rating"><img src = "../images/heart.png" class="rating-icon">  {{review.rating}}/5</p>
    </div>
    <div class="review-message">
      <p class="review-content">{{review.message}}</p>
    </div>
  </div>
  <div class="delimiter"></div>
</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    review: Object
  },
  computed: {
    ...mapState(['book', 'user'])
  },
  methods: {}
}
</script>

<style scoped>
.rating-icon{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.delimiter{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 25% 25%, 0, 25% 25%, 350, from(#000), to(#fff));
}
.review-contact {
  width: 15vw;
}


.review {
  margin-left: 0;
  margin-top: 5vh;
  width: 60vw;
  display: flex;
  justify-content: center;
}
.review-message {
  width: 45vw;
  padding-left: 3vw;
}
.review-content {
  margin-top: 0;
  height: 3vh;
}
.review-rating{
  height: 40px;
  width:6vw;
  text-align: center;
}
</style>
